@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --fg: #0c0c0c;
}

html, body {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--fg);
}

.container-responsive {
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}
